[2017-03-23 21:40] ChrisSargent opened #2 "Remove Inline Styles After Transition"
I just put in a pull request to switch to request animation frame instead of timeouts.

In addition, it would be nice it this would only apply it's necessary inline styles during the transition.

e.g. I have some floated paragraphs that I use to this to expand but they should always have 'overflow: hidden' set on them to stop them wrapping under various other elements. In it's current form, this c

[2017-04-19 07:43] ChrisSargent opened #3 "Using React.PropTypes is Deprecated."
Hi,

I'm getting this error message in my console after upgrading to React 15.5: https://facebook.github.io/react/warnings/dont-call-proptypes.html

It seems like it is being caused by this package - any suggestions how to fix?

Thanks!

Chris

[2017-04-19 08:41] kentandersen opened #4 "Add innerClassName for contentElement div"
It would be nice to be abel to add a class name to the nested contentElement div. Instead of manually having to add a wrapping div to my content

[2017-04-22 19:52] Stanko commented on #2
Thanks a lot, I will take a look. For some reason GitHub didn't subscribed me automatically on issues/prs.

[2017-04-22 19:58] Stanko commented on #3
React team moved `React.PropTypes` to the separate package - [prop-types](https://www.npmjs.com/package/prop-types). I will update the code.

[2017-04-22 22:05] Daniel15 opened #6 "Don't commit build artifacts (dist and lib) to source control"
Build artifacts (such as the `dist` and `lib` directories in this repo) don't belong in source control 😃

[2017-04-23 11:09] ChrisSargent commented on #3
Cool, thanks!

[2017-04-25 15:13] #4 closed

[2017-04-25 15:18] Stanko commented on #4
Merged your PR, thanks!

[2017-04-25 15:26] Stanko commented on #3
Fixed here https://github.com/Stanko/react-animate-height/commit/e4981b8e67036b7500bb76317fa38dcb4eafc847

I will publish it in a minute

[2017-04-25 15:28] Stanko commented on #6
Generally speaking you are right, but as this repo is used as a npm package, it should include production ready assets. That's why I did it this way.

It is kinda hard to have a nice workflow for releasing react components to npm, so if you have any ideas, I'm open for suggestions. Thanks!

[2017-04-25 15:36] Stanko commented on #2
@ChrisSargent I could add support for callbacks, does that sound good?

[2017-04-25 15:39] ChrisSargent commented on #2
That could be good - but actually we'd need to know a list of styles that this package added... because maybe we needed to keep some inline styles that were already present for example.

[2017-04-25 15:48] Stanko commented on #2
Yeah, you are totally right, I will try to figure something out. If you have ideas, shoot!

[2017-04-25 15:59] ChrisSargent commented on #2
I would probably read and cache the styles that are on the element at the start of the transition, then add the styles you need whilst it's transitioning, then just put the original styles back on that were cached.

[2017-04-26 10:18] ChrisSargent commented on #3
This isn't fixed for me - looks like you've fixed in the `src` folder but not reflected in the `dist` folder.

[2017-04-27 20:16] Stanko commented on #3
Hey, I'll take a look.

[2017-04-28 14:20] Stanko commented on #3
@ChrisSargent sorry, my bad I though `npm run release` would build it as well, but it needs to be done by hand. Should be fixed now.

[2017-04-28 14:20] #3 closed

[2017-04-28 15:12] Daniel15 commented on #6
Sorry it took me a while to reply.

For the npm package, you simply need to make sure that the build runs
before publishing. You could add it as a prepublish step if you like. Take
a look at how I handle Babel-standalone as an example, or how React works.
Neither of them have the build artifacts in source control, but  they do
have a dist directory in the resulting npm package.

You simply need to

[2017-04-28 15:13] Stanko commented on #6
Thanks, that makes sense, I'll take a look how they do it. Btw if you can direct me to a boilerplate for developing and releasing react components to the npm, I would greatly appreciate it!

[2017-05-03 15:56] bruno-gouveia opened #7 "contentClassName applies undefined className"
With the recent update, if you dont pass the prop contentClassName it gives the content the class "undefined". The component should verify if the prop is passed and only apply it in that case.

It causes issues with Jest snapshot testing.

[2017-05-03 16:09] Stanko commented on #7
Hello,
I'll get to this one, but not sure when, as I'm quite busy atm. If you can do a quick pr that would be great!
Thanks

[2017-05-07 04:05] Daniel15 commented on #6
Boilerplates always seem pretty overengineered to me, so I don't have experience with them as I've never used any of them.

[2017-05-30 02:59] petermikitsh opened #8 "Box-shadows only render once the animation completes"
To reproduce:

- Go to [demo page](https://stanko.github.io/react-animate-height/).
- Using developer tools, go to the `.demo-content` element and add this box shadow style:

[code]

Observe the box-shadow appearance at the end of the animation:

![boxshadow5](https://cloud.githubusercontent.com/assets/1571918/26566579/141ca5ee-44a9-11e7-85ea-85886517dfac.gif)

[2017-05-30 05:42] Stanko commented on #8
Hello @petermikitsh, thanks for the feedback. Luckily this is not an issue, as you should apply `box-shadow` to the root element of the component. In the demo it has class `.demo`. As it has overflow hidden (which is crucial for animating) shadow is cut off until animation is complete.

Cheers!

[2017-05-30 06:02] petermikitsh commented on #8
Tested out your approach, applying the box-shadow to the `.demo` node. Visually, it's not quite the treatment that I'm looking for since the box shadow is still present at 0 height. Ideally, it the shadow would progressively reveal the shadow as the content expanded. I'm not sure there's a solution because (as you said) the overflow property is key.

<img width="878" alt="screen shot 2017-05-29 at

[2017-05-30 06:04] Stanko commented on #8
I have a plan of adding animation classes, I might do it today if I squeeze it in. Something like `-animating` `-animating-up` `-animating-down` etc.  Would that help?

[2017-05-30 06:06] petermikitsh commented on #8
I think you'd want to apply the box-shadow as the animation began, so an `-animating` css class would work. You would also want the shadow to persist once fully expanded too. I think that would work. Thanks for the quick replies.

[2017-05-30 06:09] Stanko commented on #8
You are welcome!

Can you help me with list of classes that should be applied? I was thinking of adding classes for these states:

* animating
* animating up
* animating down
* done / static
* done - 0
* done - auto
* done - anything in between

Can you think of anything else?

[2017-05-30 06:18] petermikitsh commented on #8
That's a good set. If you wanted to make it more flexible, you could make all of these class names configurable through props so people can use their own. In my particular project, I'm using [css modules](https://github.com/css-modules/css-modules#usage-with-preprocessors), so if the classnames were static, I'd have to wrap them in a `:global { }` block to prevent the pre-processor from compiling

[2017-05-30 10:00] Stanko commented on #8
CSS classes are added [here](https://github.com/Stanko/react-animate-height/commit/221acd62f1e8c2f7474083567d6e9ffcbbea7bf3).

I hope this is what you were going for (rather large gif):

![shadow-2](https://cloud.githubusercontent.com/assets/776788/26578065/ccac3b3a-452e-11e7-890b-3200dbbf2389.gif)

Please note that box shadow transition should be passed through `style` object not to be overridden

[2017-05-30 10:03] Stanko commented on #7
@bruno-gouveia I just tested it with react version 15.5.4 and it doesn't happen anymore, it seems react team handled it.

[2017-05-30 10:03] #7 closed

[2017-05-30 10:05] Stanko commented on #2
As overflow was the only property with this issue (component was overriding it), I fixed it [here](https://github.com/Stanko/react-animate-height/commit/221acd62f1e8c2f7474083567d6e9ffcbbea7bf3).

[2017-05-30 10:05] #2 closed

[2017-05-31 19:26] m4recek opened #9 "Callback onAnimationEnds - Feature request"
Hi,
is it possible to add a callback for animations? Something like onAnimationEnd / onAnimationStart.

Use case is that we want to scroll the page to specific location after animation ended and element has full height.

Thank you.

[2017-06-01 08:24] kuzyo opened #10 "IOS height auto animation flickering"
When animating form 0 to auto you can see content flickeirng. Reproduced on IOS9 Chrome, Safari. Desktop works ok.
Please check the demo:
[AnimateHeight.zip](https://github.com/Stanko/react-animate-height/files/1044094/AnimateHeight.zip)

[2017-06-01 10:14] iaanvn opened #11 "IE overflow:hidden animating from 0 to auto"
In IE 10, when animating from 0 to auto, `overflow:hidden` is applied to the div containing "demo-content", not the "rah-static" div. When height is toggled, `overflow:visible` is not applied again, rather `overflow:hidden` is just removed.  You can see this on https://stanko.github.io/react-animate-height/#demo also.

In the demo, this is not causing an issue, but this is an issue where we are us

[2017-06-01 13:07] Stanko commented on #11
Hello @iaanvn,
Yes, you are right, I made a mistake here:
https://github.com/Stanko/react-animate-height/blob/master/src/AnimateHeight.js#L56

It works on other browsers, but IE doesn't cooperate. I will fix it and publish to npm soon.

[2017-06-01 14:33] Stanko commented on #10
Hello @kuzyo,I think I got it, I'll push the fix soonish. I'm testing on browserstack, which is really annoying.

[2017-06-01 15:02] Stanko commented on #9
Hello @m4recek,
I'm working on it, I will release new version later today.

[2017-06-01 15:32] Stanko commented on #8
I guess `hooray` emoji means this is fixed :) closing it!

[2017-06-01 15:32] #8 closed

[2017-06-01 15:38] Stanko commented on #11
Fixed in version 0.9.5, check the commit https://github.com/Stanko/react-animate-height/commit/bf20e5ba2f9ddc44011c6870d9f024d1e9e7b48c

[2017-06-01 15:38] #11 closed

[2017-06-01 15:39] Stanko commented on #10
This should be fixed in version 0.9.5, check the commit https://github.com/Stanko/react-animate-height/commit/bf20e5ba2f9ddc44011c6870d9f024d1e9e7b48c

Although I would appreciate if you can test it on a real device @kuzyo

Thanks!

[2017-06-01 15:39] Stanko commented on #9
Added in version 0.9.5, check the commit https://github.com/Stanko/react-animate-height/commit/bf20e5ba2f9ddc44011c6870d9f024d1e9e7b48c

[2017-06-01 15:39] #9 closed

[2017-06-01 16:10] kuzyo commented on #10
Thank you for so fast fix. Will write feedback after testing.

[2017-06-05 13:06] NeonPaul opened #12 "Add `aria-hidden` attribute for accesibility"
Please add `aria-hidden="true"` when the component has height=0 so the content is not read by assistive technology

[2017-06-05 13:08] Stanko commented on #12
Hello @NeonPaul, good catch, when I get to this one, should I consider adding something else for accessibility.

[2017-06-09 18:40] podrivo opened #13 "Better 'Usage' in README"
It's not clear you have to use set states in order to animate.
I had to check example.js and discover you have to use `this.setState({ height: 'auto' })`.

Maybe a more detailed usage would be better for noobies like myself! (:

[2017-06-09 23:24] Stanko commented on #13
Hello,
That's basically how react works. To re-render the component I'm updating the state. ATM I'm travelling, but I can do a blog post how it works when I get back. How does that sound?

[2017-06-09 23:27] podrivo commented on #13
Sounds awesome, man! I got it working, though. But this sounds like a great idea for new comers! (:

[2017-06-10 02:08] Stanko commented on #10
@kuzyo can you please confirm if this is working now?

[2017-06-10 06:02] kuzyo commented on #10
Works for me. Don't have any reports.

[2017-06-10 11:26] Stanko commented on #10
Great, I'm closing it then. Thanks!

[2017-06-10 11:26] #10 closed

[2017-06-20 18:32] kentandersen commented on #6
👍 on removing dist and lib from source code

No need for boilerplate. Just do what @Daniel15 described
1. add dist and lib to `.gitignore`, but not `.npmignore`
2. add `"prepublish": "npm run build"` to scripts in `package.json`

When you run `npm publish` dist and lib will be updated before its pushed to npm. `.gitignore` will keep them out of source control

[2017-06-21 08:18] Stanko commented on #12
Fixed in this commit https://github.com/Stanko/react-animate-height/commit/23aa3955cddf05f90a3be18afd37bd34dd1516f1

[2017-06-21 08:18] #12 closed

[2017-06-21 08:20] Stanko commented on #6
Thank you very much both of you guys. I just fixed this (https://github.com/Stanko/react-animate-height/commit/23aa3955cddf05f90a3be18afd37bd34dd1516f1) and published. `.npmignore` was the thing I was missing.

@kentandersen thanks for the other PR as well.

[2017-06-21 08:20] #6 closed

[2017-06-28 18:15] rs-tiwen opened #15 "Module 'prop-types' not found"
Bug: when using with react-scripts, after install I got the following error:
[code]

it appears to be that this module needs `prop-types`, we might want to move 'prop-type' from devDependency to dependency in the package.json?

[2017-06-28 18:22] Stanko commented on #15
Hello, I could swear that I already moved it. Sorry my bad, fixed here: https://github.com/Stanko/react-animate-height/commit/e71c3ac11917731132474f9de5433b942ada3805

Released on npm as well

[2017-06-28 18:22] #15 closed

[2017-06-28 18:36] rs-tiwen commented on #15
Thanks for the ultra-fast response!
and thanks for great design on the simplicity of this component's API!

[2017-06-28 18:37] Stanko commented on #15
You are welcome, thanks for the kind words!

[2017-08-08 12:17] apers opened #16 "Set "display: none" when height is 0"
Would it be possible to set "display: none" when height is 0 so the content doesn't take tab focus when hidden?

[2017-08-08 13:24] Stanko commented on #16
Hello @apers,
Recently I stumbled upon the same problem, I'll release new version today or tomorrow.
Cheers!

[2017-08-08 13:33] Stanko commented on #16
@apers I just released version 0.9.10
Can you please test and close the issue if it works, thanks!

Commit: https://github.com/Stanko/react-animate-height/commit/e52a3b9098e37b4bf4ddd7ce46022643de41156f

[2017-08-08 13:57] apers commented on #16
That was quick!
Tested and working, thanks!

[2017-08-08 13:57] #16 closed

[2017-08-08 16:39] aabenoja opened #17 "Potential breaking change with 0.9.10"
We have some test failures around `AnimateHeight.hideContent(height)` call in [`componentDidMount`](https://github.com/Stanko/react-animate-height/blob/e52a3b9098e37b4bf4ddd7ce46022643de41156f/src/AnimateHeight.js#L71).

[code]

Here's a snippet of our current usage of `AnimateHeight`

[code]

It looks like `hideContent()` and `showContent` rely on `style` to be present on the `contentElement`, wh

[2017-08-08 16:47] Stanko commented on #17
Hello,
`componentDidMount` in react lifecycle is triggered after the component is rendered to dom. I will look into it, but not sure when I'll catch time to do it.

[2017-08-08 18:00] aabenoja commented on #17
In fact, we are using enzyme with jest and jsdom, but thank you for the suggestion.

[2017-08-08 20:16] Stanko commented on #17
@aabenoja that makes much more sense, thanks for the info. Do you have any suggestions how to solve it?

I can add old school

[code]

but more elegant fix would be nice.

If nothing comes to mind, I can patch like this so it doesn't break tests.

[2017-08-08 20:26] aabenoja commented on #17
The frustrating thing is that this only affects any project feeding this component into the `react-test-renderer`. Admittedly I can't think of much better at the moment, though I'm starting to think we don't need to modify `showContent()` or `hideConent()`. Since this only seems to affect the renderer during the mounting process we might be able to get away with the check being only in `componentD

[2017-08-08 21:06] aabenoja commented on #17
@Stanko Good news! We can get away with having the `this.contentElement.style` check in `componentDidMount` without doing that every `showContent()` or `hideContent()` call.

The downside is we've found one of our tests failing because it can't find `requestAnimationFrame` when it rerenders because of prop change. It could be "fixed" on this end by using a noop when `window.requestAnimationFrame`

[2017-08-08 21:09] Stanko commented on #17
Great! I just pushed new version to npm

You can see commit here: https://github.com/Stanko/react-animate-height/commit/a8361ffc7f2324ea387ccef91ae5ff49c2fedcfa

I agree that `requestAnimationFrame` should be polyfilled on their side.

Please check if this fixes issue for you, so we can close the issue.

[2017-08-08 21:54] aabenoja commented on #17
Awesome, everything is green again. The only thing to potentially followup on is documenting the need to polyfill `requestAnimationFrame`. Thank you for your help.

To answer your question, we're using `react-animate-height` in out company's [style guide](https://github.com/TWExchangeSolutions/es-components). Your component has been a great help!

[2017-08-08 21:54] #17 closed

[2017-08-08 21:55] Stanko commented on #17
You are welcome! Thanks, glad to hear that.

[2017-08-08 22:11] aabenoja opened #18 "Update build script for node v8"
Currently your build script down not work with node v8. This is due to a handful of dependencies using `require.extensions`, which has been dropped. The latest versions of `require-dir` and `gulp-git` resolve this, but `react-component-gulp-tasks` still needs to be updated. I have not been able to determine if any other build dependency needs to updated for this reason.

As for `react-component-gu

[2017-08-08 22:15] Stanko commented on #18
Meh, I was searching for a better workflow for development and releasing react components, and in the end written my own. So I'll switch to that one soon.

You can see it in action here:
https://github.com/Stanko/react-plx

Thanks for pointing that out

[2017-08-09 12:19] Stanko commented on #18
Replaced `react-component-gulp-tasks` with workflow I use on the other component and updated the documentation.

[2017-08-09 12:19] #18 closed

[2017-08-10 09:18] aristidesfl opened #19 "Support for tables"

[2017-08-10 13:25] Stanko commented on #19
What does that even mean? 🙃

You can't just open a issue with no description.

[2017-08-11 06:54] aristidesfl commented on #19
I just did :D

divs can't be children of tables, tbody, tr elements, so table rows can't be animated currently.

[2017-08-11 07:25] Stanko commented on #19
No they can't nor I'm planning to add support for that. What you are describing is accordion. It can easily done without animating tables themselves.

This is not really an issue.

[2017-08-11 07:25] #19 closed

[2017-08-11 08:28] aristidesfl commented on #19
Wether to support it or not is up to you. But care to explain how you can animate table rows without animating the elements themselves?

[2017-08-11 18:12] EmmaSimon opened #20 "Make it possible to prevent rendering of elements when height is 0"
I'd like to not render anything when the animated element is closed, but I'm having difficulty. I don't just mean CSS `display: none` or `visibility: hidden`, I want no elements there. I tried using a combination of the provided callbacks and state, but that was too slow, by the time the animation had started it was too late to swap the child elements back to what they should be when it's open. Co

[2017-08-13 20:39] Stanko commented on #20
Hello @EmmaSimon,
Having elements removed from the dom when the height is 0 would complicate animation states even further. Because of that I will not add this feature. Maybe sometime in the future, but I'm not promising anything. Although, I'm open to accepting well written PR.

May I ask in which use case you need to remove elements completely?

[2017-08-14 10:43] naBausch opened #21 "0.9.10 broke our app"
hey @Stanko

thanks for your plugin - we are using it for a small application and it worked quite well.

Unfortunately updating from 0.9.9 to 0.9.12 (probably already to 0.9.10) broke almost everything:

The height calculation of `height:auto` for flexbox doesn't work for `overflow:hidden; height:0` as the children of flexbox will try to fit inside the flexbox.
It might also be because of the `dis

[2017-08-14 10:45] naBausch opened #22 "support for percentage"
Hey @Stanko

we have an animation where we need to change the height from `auto` to `100%` or from `0` to `100%` do you think that would be a possible addition to your plugin?

Thanks :)

[2017-08-14 10:56] Stanko commented on #21
Hello @naBausch,
I will into both of your issues and get back to you. It would great if you can provide me with the example that 0.9.10 broke.

Cheers!

[2017-08-14 14:07] EmmaSimon commented on #20
I was looking into some performance issues and was trying to determine the cause. It looks like this had no effect and I was going down the wrong path. I had some mostly broken changes but it seems like it's not worth trying to get working. Sorry for bugging you!

[2017-08-14 14:07] #20 closed

[2017-08-14 14:37] Stanko commented on #20
No problem, thanks for the feedback!

[2017-08-14 18:40] Stanko commented on #22
@naBausch I'll try to add this, but maybe you can use `100vh` if you are using it to animate to a viewport height.

[2017-08-15 13:02] Stanko commented on #21
@naBausch I can't replicate that behavior and therefore I need code example to be able to fix it.

I'll try to follow semantic versioning from now on.

[2017-08-15 13:10] Stanko commented on #22
Added here https://github.com/Stanko/react-animate-height/commit/65a6709177aa816db511ee9f3aedae7c1675d100#diff-45efb963a7ea3e7770e69aa33f4da7e8R110

[2017-08-15 13:10] #22 closed

[2017-08-15 14:14] naBausch commented on #22
Hi Stanko,

thank you so much for adding it, that's exactly what I needed.
For the other issue I will try to provide you an example in a bit :)

[2017-08-15 15:26] naBausch commented on #21
Hi @Stanko,

sorry for the delay, I tried to create a very [simplified example](https://stackblitz.com/edit/react-djbqvz) for this issue.
The example shows a text, which should open a box via click, but instead the 'animate-height-content' won't be displayed.
This is caused by the my css classes, which set a display:flex on both AnimateHeight elements.

[code]
[code]
Thanks for your help :)

[2017-08-16 08:17] Stanko commented on #21
@naBausch luckily this can be fixed in one line :)
Just remove `.animate-height,` CSS rule, as you don't need both to be flex. I planned layout should be only applied to the `.animate-height-content` div.

I've modified your example here:
https://stackblitz.com/edit/react-9hpqss

Can you please try it, and see if it solves your problem.

[2017-08-26 03:46] ntomallen opened #24 "Nothing happens when using the component in a react class"
So I actually cannot get this tool to work. It looked really promising! Essentially, when I click a button, I want a component that didn't exist before to slide down with a few divs inside. Here's my use case: (note that I'm using mobx for state management, hence the "observer" decorators)

**BadgeItem.jsx**
[code]

**MoreBadgeInfo.jsx**
[code]

Everything works fine - in terms of everything showi

[2017-08-26 07:21] Stanko commented on #24
Hello @ntomallen,
This component needs to be rendered in order to be animate by changing `height` prop.

So you need to change your code something like this:

in **BadgeItem.jsx** replace

[code]
with
[code]

then in **MoreBadgeInfo.jsx** replace

[code]

with
[code]

Cheers!

[2017-08-26 13:29] ntomallen commented on #24
Ahhhh this is beautiful! Works wonderfully, thank you.

[2017-08-26 16:17] Stanko commented on #24
You are welcome, glad it helped :)

[2017-08-26 16:17] #24 closed

[2017-08-29 17:24] cymen opened #25 "Minor thing -- npm link to this repo is wrong"
Looks like typo in homepage property in package.json (has `h1ttp`) or maybe it was edited on npmjs.com but it's linking to github.com/Stanko/react-plx instead of this repo.

[2017-08-29 18:06] Stanko commented on #25
Hello @cymen,
That happened when I moved to a new workflow for this component, and I copied the stuff I use on https://stanko.github.io/react-plx/ :)

Fixed and published, cheers!

[2017-08-29 18:06] #25 closed

[2017-09-05 10:10] tweetzal opened #26 "Hi there! Great component. Just curious will there be a slideRIght / slideLeft version ?"

[2017-09-05 11:05] Stanko commented on #26
@tweetzal slide left/right is really easy to achieve using CSS transitions, so I don't plan to add it.

[code]

And then just toggle `Component--closed` class.

Cheers!

[2017-09-05 11:58] tweetzal commented on #26
Hi ! thanks ... works like a charm

[2017-09-05 11:58] #26 closed

[2017-09-08 22:05] colinswilliams opened #27 "Doesn't work with content loaded via props"
Tried out the demo, and got it working, but then when I attempted to get it to work with a dropdown menu, with navigation that's dynamically loaded via props, since that DOM element doesn't contain a height at the time the component is initialized, it can't animate the height of something it doesn't know.

Any tips with this?

[code]

[2017-09-09 06:57] Stanko commented on #27
Hello @colinswilliams,
This doesn't seem like library issue, as I just made working example here:
https://codesandbox.io/s/5ym843k18k

I mocked async data using `setTimeout` but as you can see, this library doesn't really care when the content is rendered, as it calculates height when height is changed.

Check how you change height passed to the component.

I hope the example helps.
Cheers!

[2017-09-17 08:28] #21 closed

[2017-09-17 08:29] #27 closed

[2017-09-26 22:40] emilyrohrbough opened #28 "Add React 16 Support"
`react-animate-height` provides support for `react  v^15.5.4`. React 16 is expected to be released soon and can currently be tested with `react 16.0.0-rc` (more information can be found on https://github.com/facebook/react/issues/10294).

`react-animate-height` is a dependency in a package in the [terra-core monorepo](https://github.com/cerner/terra-core), which will need to be React 16 compatible

[2017-09-27 09:23] Stanko commented on #28
https://github.com/Stanko/react-animate-height/commit/5eee270ca7200fb9e6d054e2eeb12894e1b86075

[2017-09-27 09:23] #28 closed

[2017-09-28 11:39] FezVrasta opened #29 "Content always set to `display: none` after first toggle with flexbox"
I have a quite simple wrapper that switches the height of `AnimateHeight` from `0` to `auto` depending by the value of an `isOpen` property.

After the update to 0.9.10, after I switch `isOpen` from `true` to `false`, the content gets set to `display: none` and if I set it back to `true` it doesn't get shown...

here's a repro of the bug:
https://codesandbox.io/s/olmwx35wky

[2017-09-28 11:59] Stanko commented on #29
Hello @FezVrasta,
This is a very bizarre bug, I just changed `foobar` class to `test` and everything works -> https://codesandbox.io/s/qx1z7y3zj9

I also tried both locally and I couldn't replicate it :/ do you have any errors in the console? Does it also happens in you project and not only on codesandbox.io?

[2017-09-28 12:00] FezVrasta commented on #29
The class is defined in `index.html`, that's why changing the name makes it work 🙂

[2017-09-28 12:03] Stanko commented on #29
😆
Does it mean we can close this one? 🙂

[2017-09-28 12:03] FezVrasta commented on #29
nope... I mean that it's obvious that if you use a class without any CSS associated the component is gonna work...

What makes the component break is the CSS associated to the `.foobar` class.

[2017-09-28 12:09] Stanko commented on #29
Well you can't mess with the components layout using CSS, as it is crucial for it to work.

I guess I should add that to documentation (I could swear it is already there).

[2017-09-28 12:11] FezVrasta commented on #29
It worked in the previous versions tho.

[2017-09-28 12:23] Stanko commented on #29
It was, but that's the trade of accessibility feature that was introduced with 0.9.10.

[2017-09-28 12:23] #29 closed

[2017-09-28 12:25] FezVrasta commented on #29
Yeah that's fine, but please at least release a changelog to warn your users, this is a breaking change that affected us. It would have helped to know that this way to style the component wasn't possible anymore.

[2017-09-28 12:26] Stanko commented on #29
Well to me it was clear not to change layout on the layout component. As I never tried it, I wasn't aware of this. I updated the README.md

[2017-09-28 12:26] FezVrasta commented on #29
Thanks

[2017-10-03 07:37] gpbl opened #30 "Peer dependency to react 16"
Hi! 👋

This component works well with react 15 – is there a reason for a peer dependency to React ^16?

[2017-10-03 07:50] Stanko commented on #30
Hello @gpbl,
You are totally right, I'll fix that during the day.
Cheers!

[2017-10-03 09:52] Stanko commented on #30
Fixed here: https://github.com/Stanko/react-animate-height/commit/a258380f08430cd87c510b8a6177b9b132165328 Pushed to the npm as well.

I used latest stable 15.x version as the peer dependency (15.6.2).

[2017-10-03 09:52] #30 closed

[2017-10-03 09:53] gpbl commented on #30
thanks a lot ❤️

[2017-10-06 18:20] andrew-morin opened #31 "Percentage on initial render"
Issue #22 added support for percentage, but it was only added to `componentWillReceiveProps`. We have a use case where we need the height to be '100%' on first render, but the constructor still only checks for a number. Could you add the percentage check to the constructor as well? Thanks.

[2017-10-06 19:07] Stanko commented on #31
Hello @andrew-morin,
Atm I’m kinda overwhelmed with work, but I’ll get to next week. It would be awesome if you can open a PR for it.

[2017-10-06 21:30] Stanko commented on #31
Merged and released to npm, thank you!

[2017-10-06 21:30] #31 closed

[2017-10-09 15:49] emilyrohrbough commented on #28
When can we expect a release with these changes?

[2017-10-09 15:58] Stanko commented on #28
It is already merged and published. You can use it with react v16.

[2017-10-25 14:40] xMartin opened #34 "prop type `applyInlineTransitions` is invalid"
Using 0.10.6 I get the following warning:
[code]
0.10.5 works fine.

My code looks something like this:
[code]

Could be related to https://github.com/Stanko/react-animate-height/pull/33

[2017-10-25 14:42] Stanko commented on #34
Hello @xMartin,
Good catch, we used `PropTypes.boolean` instead of `PropTypes.bool`. I'll fix and release soon.

[2017-10-25 16:34] tubalmartin opened #35 "onAnimationEnd callback should be executed after content is hidden"
First of all, thanks for this lib!

I think `onAnimationEnd` callback should be executed after content is hidden because one may need to remove the content on the callback itself. I've just encountered this issue myself.

Right now, it is not possible to remove the animated content inside the `onAnimationEnd` callback in a synchronous way since your lib will complain when trying to access `this.co

[2017-10-25 16:50] Stanko commented on #35
Hey, yeah that makes sense. I will look into it, and get back to you in few days. Thanks!

[2017-10-25 20:18] Stanko commented on #34
Fixed and published
https://github.com/Stanko/react-animate-height/commit/3e07e93c1ea560fa67f414b65451cb6024ff3e3a

[2017-10-25 20:18] #34 closed

[2017-10-25 20:21] Stanko commented on #35
Well I don't know how do you remove content, but this example works for me:

[code]

But it still makes sense to move callbacks after hiding the content, I'll fix and publish that soon.

[2017-10-25 20:26] tubalmartin commented on #35
Oh I was not clear enough: I do not remove some content inside the animated component...I remove/unmount the whole component wrapped in <AnimateHeight>.from the DOM.

Think of dynamic list where when an item is clicked to be deleted, the item height animates until it's hidden from sight and the item itself is removed from the list/DOM.

[2017-10-25 20:27] Stanko commented on #35
Thanks for clarification 🙂

I just pushed new version to npm, check the commit https://github.com/Stanko/react-animate-height/commit/29c2c629c08cebb6355ce6d3bc1e79d18fcb7933

[2017-10-25 20:29] #35 closed

[2017-11-03 13:50] FezVrasta opened #36 "Can't start with height different than `auto`"
https://codesandbox.io/s/olmwx35wky

As you see from the example, the initial state will always be `auto`, and only after you toggle it twice you get it to `100%`.

Is this a known bug? Any workaround available?

[2017-11-03 14:07] Stanko commented on #36
Hello @FezVrasta,
When you are using percentage based height, parent must have height defined. It is how CSS works. If you want to use window height, use [viewport units](https://www.sitepoint.com/css-viewport-units-quick-start/) - `100vh` in this case.

Parent height defined:
https://codesandbox.io/s/0y9rynkjyn

Viewport units:
https://codesandbox.io/s/jpvr9x4opw

Hope that helps!

[2017-11-03 14:10] FezVrasta commented on #36
No that's not the problem, anyway, the div managed by react-animate-height, will have a `auto` height by default, and only after two toggles, it will get `100%`

https://codesandbox.io/s/0q7p8no7zn

[2017-11-03 14:14] FezVrasta commented on #36
![auto](https://user-images.githubusercontent.com/5382443/32377966-aeec59ee-c0a9-11e7-8bc4-aea099da2c7d.gif)

[2017-11-03 14:18] Stanko commented on #36
Oh, sorry, I see what you mean. I'll take a look.

[2017-11-03 14:22] Stanko commented on #36
@FezVrasta it has been fixed, you just need to update it to the latest version `0.10.8`

https://codesandbox.io/s/m3jk2jzo9x

Sorry for misunderstanding 🙃

[2017-11-03 14:22] FezVrasta commented on #36
Oh! My bad! Thank you

[2017-11-03 14:22] #36 closed

[2017-12-14 00:24] jklegseth commented on #13
Blog post is great but I agree with @podrivo, why not include it in the documentation? Maybe just update your example to include it? Happy to do a PR if it's helpful.

[code]

[2017-12-14 12:37] podrivo commented on #13
@jklegseth You should do the PR! (:

[2017-12-14 12:53] Stanko commented on #13
Hey,
I've updated the [readme](https://github.com/Stanko/react-animate-height/blob/master/README.md#quick-start) with the example you provided.

I'm really busy with other projects, but I have this on my todo list.

Cheers!

[2018-01-21 03:15] djkz opened #38 "Let you specify top level element"
Would love to be able to animate different elements, for example <tr> or <ul>, instead of wrapping the whole thing into the div.

Possible solutions:

1. Pass element name as a prop, `<AnimateHeight element='tr'> <td>...</td></AnimateHeight>`

2. Clone child element and pass props to it ` <AnimateHeight clone={true}><tr><td>...</td></tr></AnimateHeight>`

Both should result in `<tr aria-hidden="fa

[2018-01-21 09:23] Stanko commented on #38
Hello @djkz,

Unfortunately, `AnimateHeight` needs to have to elements top level elements. First one which has overflow hidden and which height gets animated. And the second one is the wrapper around content which is used to determine content's height. So in case of `tr` it would produce something like:

[code]

And not just that, but using `tr` which has `display: table-cell` may introduce unexpe

[2018-01-23 13:31] #38 closed

[2018-02-08 09:21] shunia opened #39 "`easing` works not as expected"
When comes to animation, it's hard to describe what's happening I think, so I recorded a gif:

![animation_problem](https://user-images.githubusercontent.com/779430/35964652-4f28806e-0cf3-11e8-92eb-966d78450488.gif)

I have a container component contains children list to collapse, it's the show/hide part inside the gif above, codes structure like here:
[code]

My guess is `AnimateHeight`'s calcula

[2018-02-08 09:45] Stanko commented on #39
Hello @shunia,

This is actually expected behaviour, and it has nothing to do with easing. To work correctly content needs to be rendered **before** height is changed to `auto`.

You are adding list content at the same time you are changing the height to `auto`, and `AnimateHeight` is using height of "All" row which seems to be rendered already.

Check the example here:

https://codesandbox.io/s/v

[2018-02-08 09:45] #39 closed

[2018-02-08 10:41] shunia commented on #39
Yes, `AnimateHeight` works right. And the way I use it too.
The problem is my css-style applied to `species-list`.

Thank you for your quick reply!

[2018-02-08 10:44] Stanko commented on #39
No worries, glad it helped! 🎉

[2018-02-23 19:12] emilyrohrbough opened #40 "Open Peer Dependencies for React 15 || 16"
Issue https://github.com/Stanko/react-animate-height/issues/28 was logged for React 16 Support. This was marked as resolved and it appears test are being ran against React 16, however the [peer dependencies](https://github.com/Stanko/react-animate-height/blob/master/package.json#L67) are specified as
[code]
These should be updated for both 15 & 16.

[code]
Otherwise you receive the following npm w

[2018-02-24 22:49] Stanko commented on #40
Hello @emilyrohrbough,
I'm using it on the multiple projects with react 16, and I don't get these warnings. I see you are using `0.9.13` which uses these `peerDependencies`

[code]

Please try updating to the latest version.

[2018-02-26 08:28] iAlirezaKML opened #41 "[Question] Vue.js equivalent"
Hello @Stanko,
Is there any Vue.js equivalent?
I've tried both [`vue-smooth-height`](https://www.npmjs.com/package/vue-smooth-height) and [`vue-height-tween-transition`](https://github.com/BKWLD/vue-height-tween-transition) but since I'm using my own custom transitions, these solutions don't meet my requirements.

[2018-02-26 14:20] Stanko commented on #41
Hey @iAlirezaKML,
Unfortunately I'm not familiar with Vue, so I can't really help. But feel free to port it.
Cheers!

[2018-03-02 14:36] styfle opened #42 ""no dependency" is misleading"
The readme says "Lightweight, **no dependency** React component..."
But I see 2 dependencies in [package.json](https://github.com/Stanko/react-animate-height/blob/master/package.json)

[code]

[2018-03-02 16:40] Stanko commented on #42
Hey @styfle,
My bad, that is a left over from the first version.

On the other hand, if you are worried about pulling a lot of things, `classnames` is ~50 lines of code, and `prop-types` is pretty much a default dependency for any React component.

I'll update the documentation.

Cheers!

[2018-03-02 16:45] Stanko commented on #42
https://github.com/Stanko/react-animate-height/commit/a1c84e3daee818a1d0c7aacf916d07047f3b13c6

[2018-03-02 16:45] #42 closed

[2018-03-02 16:45] #41 closed

[2018-03-02 16:46] #40 closed

[2018-03-02 17:27] styfle commented on #42
Thanks for the response!

I noticed you provide [types](https://github.com/Stanko/react-animate-height/blob/master/source/index.d.ts).
Have you thought about writing the source code in TypeScript?
Then you could avoid prop-types altogether.

[2018-03-02 18:09] Stanko commented on #42
You are welcome.

Not really, types were outside contribution.

[2018-03-06 22:53] emilyrohrbough commented on #40
@Stanko This is still an issue. The peer dependencies specified in the package.json are not open to react 16 so according to this specification, npm throws warning on the install when using React 16. This issue should not be closed.

[2018-03-07 07:55] Stanko commented on #40
https://github.com/Stanko/react-animate-height/pull/43#issuecomment-371054146

[2018-03-22 19:04] pietrofxq opened #44 "calc() support?"
Is there a way to make it work with css calc()? Or do I need to calculate height by getting the element/window sizes?

[2018-03-23 10:02] Stanko commented on #44
Hello @pietrofxq,
Unfortunately, this library doesn't support `calc`. It would be really cumbersome to implement parsing, window resize, em/rem changes and other edge cases. So you have to get the element height on your own and pass it to the component.

Hope that helps, cheers!

[2018-03-29 03:43] vctqs1 opened #45 "All component show, how to set only one?"
I have many component react-animate-height so when I click button have function onClick is all component show.

                           `<tr key={key} className="user">
                                <td>{user.id}</td>
                                <td class="col-md-2">{fullName}</td>
                                <td>{user.username}</td>
                                <td class="col-md-1

[2018-03-29 09:15] Stanko commented on #45
Hello @vctqs1,
This isn't issue with library but with your React knowledge.

You are using same variable `this.state.height` for all of the `<AnimateHeight>` components. Each one of them needs separate value. Check the example in the documentation:

https://github.com/Stanko/react-animate-height/blob/master/docs/docs.js#L11-L15

Cheers!

[2018-03-29 09:15] #45 closed

[2018-03-30 06:48] bdwain opened #46 "Add option to animate opacity"
First off, thanks for the awesome library.  This is so easy to use and solves such a common problem.

I was wondering if it would be possible to add an option to animate opacity. It's not THAT difficult to do using contentClassName, but you do have to duplicate the easing functions and durations, which this would help avoid. I feel like it's a pretty common way to make this kind of animation look

[2018-03-30 11:26] Stanko commented on #46
Hello @bdwain,
My first reaction was "it can be done by adding a css class" 🙃, but then I started thinking more about it, and it makes sense to be a part of the library.

I'm working on it, and I will release it EOD probably.

Cheers!

[2018-03-30 11:27] #44 closed

[2018-03-30 11:40] Stanko commented on #46
https://github.com/Stanko/react-animate-height/commit/082307a9528aa05f16bab66aece28176eba97449 🎉

[2018-03-30 11:40] #46 closed

[2018-03-30 11:42] Stanko opened #47 "Prepare for React v16.3 and v17"
From React v16.3 these methods will be considered unsafe:

* componentWillMount
* componentWillReceiveProps
* componentWillUpdate

https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

Prepare library for new React releases.

[2018-03-30 14:42] bdwain commented on #46
Thanks for releasing that so quickly!

[2018-04-03 18:54] mikeaustin commented on #17
Sorry to reply to an old ticket, but I wanted to mention an issue when using AnimateHeight with Preact. I've recently created a ticket to see what they say about it:

Problems with Preact and AnimateHeight component
https://github.com/developit/preact/issues/1057

It boils down to Preact maybe doing some element recycling and setting display to 'none' is not getting undone.

[2018-04-04 13:57] gpbl opened #48 "Add a changelog"
Congrats for v1 @Stanko! 🎉
Would you consider to [add a changelog](https://keepachangelog.com) to help us when upgrading? Thanks 🙏🏽

[2018-04-04 14:14] Stanko commented on #48
Hello @gpbl and thank you!
I will keep that in mind and add it with the next release.

Meanwhile you can use commit messages as a workaround, I'm trying to keep them explanatory
https://github.com/Stanko/react-animate-height/commits/master

[2018-04-04 19:13] mikeaustin commented on #17
The recycling / re-use issue came up again in another area. A coworker solved it by adding a componentWillReceiveProps() that does the same thing as the constructor. The elements are not shared and should be completely different instances, but somehow Preact is re-using them.

[2018-04-05 12:06] Stanko commented on #17
So any ideas how should we tackle that? Sorry, but I have no experience with Preact.

[2018-04-05 12:51] aabenoja commented on #17
Maybe make an example repo to reproduce the issue @mikeaustin?

[2018-04-06 12:42] flip-it opened #49 "Delay height after opacity transition"
I would love to have the option to delay height transition to after the opacity is done.

I use this library to collapse items in a list. It would be calmer if the fading out happened before collapsing.

What do you think?

[2018-04-06 13:04] Stanko commented on #49
Hello @flip-it,
Unfortunately I feel like that shouldn't be part of the library itself. You can write a simple wrapper though, here is simple live example:

https://codesandbox.io/s/mqqxy7ojmy

Cheers!

[2018-04-06 13:04] #49 closed

[2018-04-17 22:59] BenChirlin opened #50 "Fixed header disappearing on animation"
Loving the library but for some reason whenever my element is animated in from zero to auto height it's causing my fixed position header to disappear till the animation is complete. Guessing it might have to do with the scroll or something? I'm using the library component as follows where I have a `isToggleOn` state that changes when a user clicks a button:

[code]

Any idea why this might be happ

[2018-04-17 23:13] BenChirlin commented on #50
Looks like it might be a [Chrome bug](https://stackoverflow.com/questions/11258877/fixed-element-disappears-in-chrome/29089268)? Adding:

[code]

to the element looks to have fixed it. Apparently by forcing Chrome to use hardware acceleration on the element (haven't done any cross-browser testing yet so wish me luck!).

[2018-04-17 23:13] #50 closed

[2018-04-18 07:29] Stanko commented on #50
Hey @BenChirlin,
That is infamous webkit bug, I've seen it happening on Safari as well (I even wrote on my [blog](https://stanko.github.io/ios-safari-scoll-position-fixed/) about it). Forcing hardware acceleration would always solve it in my cases, but if you find more elegant workaround, please let me know.

Cheers!

[2018-04-21 13:06] Stanko commented on #48
https://github.com/Stanko/react-animate-height/blob/master/CHANGELOG.md 🎉

[2018-04-21 13:06] #48 closed

[2018-04-22 08:12] gpbl commented on #48
Awesome ❤️ Thanks!

[2018-04-26 21:56] BenChirlin commented on #50
Gah now I'm getting a [likely] related issue where after opening/closing a `AnimateHeight` element my header, which I'm resizing with scroll, won't repaint when I scroll back up. But if I inspect in developer tools and hover over the element there it then repaints and pops back. What a pain!

[2018-04-27 14:48] Stanko commented on #50
Yep, it gets frustrating :/ in the future it is really helpful if you can create a simple demo on https://codesandbox.io or https://codepen.io
It makes things much easier to debug.

[2018-05-17 22:44] kamronbatman opened #53 "Add support for vh"
I tried to set height to 100vh and it defaulted to 'auto'. Would be great to see support for VH measurements.

[2018-05-17 22:46] kamronbatman commented on #53
I think this might actually be a bug: https://github.com/Stanko/react-animate-height/blob/master/source/AnimateHeight.js#L132 should be `nextProps.height`?

[2018-05-20 07:34] Stanko commented on #53
Unfortunately I gave this feature a lot of thinking and decided not to include it in the library. And here is why.

When a vh prop is passed (let's say `50vh`) library has to extract the number (50 in this case). Then it needs to calculate it - `window.innerHeight / 100 * 50` and animate to that specific height. In order for this to work properly, library would need to track resize events as well,

[2018-05-20 07:34] #53 closed

[2018-05-20 08:39] Stanko commented on #47
Beta 0 is out
https://www.npmjs.com/package/react-animate-height/v/2.0.0-beta0

[2018-05-20 08:56] Stanko opened #54 "Write tests"
High priority:

* [x] Animating height to a numeric value
* [x] Animating height to "auto"
* [x] Animating height to a percentage value

Mid priority:

* [x] Is content hidden when `height == 0`
* [x] Are `animationStateClasses` set properly
* [x] Are callbacks executed

Low priority:

* [ ] Is delay applied
* [ ] Check for `applyInlineTransitions`
* [ ] Opacity changes
* [ ] Are `className` and `

[2018-05-20 08:59] Stanko opened #55 "Add a warning for styles that might break the animation"
Readme already has a warning

but it should be logged if user passes `style.height`, `style.display` which may break the animation.

[2018-05-20 12:54] #47 closed

[2018-05-20 12:54] Stanko commented on #47
Tackled in v2.

[2018-05-20 21:38] kamronbatman commented on #53
Yeah that is exactly what I have had to do here and in other places. Unfortunately listening to resize events is not the greatest for performance in general.

[2018-05-31 20:45] cbranch101 opened #56 "Transition when actual height of height 'auto' element changes"
Thanks for the super useful component, this really solves a problem for us.

One improvement that would help a lot though is the ability to trigger the animation when, even though the height being provided to the component hasn't changed(i.e, it's just still auto) but the actual height of the element has.

[2018-05-31 21:36] Stanko commented on #56
Hello @cbranch101,
What you are describing is out of scope for this component. For that to work, component would need to track `children` prop changes, resize and even add dom mutation listener. That adds a lot of complexity and bloat to it. Unfortunately that is something I'm trying to avoid and keep things simple.

Cheers!

[2018-05-31 21:36] #56 closed

[2018-06-18 12:48] NikolayYakovenko opened #57 "Remove overflow:hidden when animation completed"
Remove `overflow: hidden` when animation completed.
Here is a problem with `overflow: hidden`.
When the collapsible container has dropdowns or tooltips, the part of their content can be truncated by the parent.

The result I would expect is similar to the behavior when we set  `height='auto'`, and in the end, the parent won't have `overflow: hidden`.

[2018-06-18 13:12] Stanko commented on #57
Hello @NikolayYakovenko,
`overflow: hidden` is removed when animation is complete and `height = auto`.

https://github.com/Stanko/react-animate-height/blob/master/source/AnimateHeight.js#L143-L147

If height is set to a specific value `overflow: hidden` needs to be applied as content needs to be clipped.

Cheers!

[2018-06-18 13:13] #57 closed

[2018-07-11 09:05] jakoandersen opened #58 "animateOpacity missing from index.d.ts"
This causes TypeScript to complain when compiling. Adding the property to `index.d.ts` fixes it.

[2018-07-11 09:06] Stanko commented on #58
Hello @jakoandersen,
Can you please make a PR or at least provide me with the code snippet? I'm not really using ts.
Cheers!

[2018-07-11 09:10] jakoandersen commented on #58
Hello @Stanko

Simply adding the following to `AnimateHeightProps` interface:
[code]

Fixes the issue. I didn't try out the other props.

Give me one sec.

[2018-07-11 09:17] Stanko commented on #58
Fixed in [v2.0.2](https://github.com/Stanko/react-animate-height/commit/47db7ef6831a0f967e86a3a698f4cb29fa83f074). Thanks for checking!

[2018-07-11 09:17] #58 closed

[2018-07-11 10:46] jakoandersen commented on #58
Can you publish v2.0.2 to npm as well?

[2018-07-11 11:32] Stanko commented on #58
I already did 🎉
https://www.npmjs.com/package/react-animate-height/v/2.0.2

[2018-07-11 12:39] jakoandersen commented on #58
Cool, thanks. I was seeing cached results.

[2018-07-12 07:02] jakoandersen commented on #35
Hello @Stanko
For some reason, [your snippet](https://github.com/Stanko/react-animate-height/issues/35#issuecomment-339458751) is not working when using `height = 'auto'`

If i use for example `200` instead of auto, and change the ìf` to say as yours do: `height > 0` the animation works, and the elements are unmounted and mounted. But my content has a dynamic height, hence the `'auto'` part.

I sh

[2018-07-12 09:02] Stanko commented on #35
Try this:
https://codesandbox.io/s/mm6yy0llv9

I was writing the previous snippet out of my head. But thank you, as I discovered a tiny bug I introduced with v2.

Cheers!

[2018-07-12 09:45] jakoandersen commented on #35
Works like a charm, thank you once again!

[2018-08-16 02:27] brewern commented on #57
@NikolayYakovenko I ran into the same need, it seems since my height is a specific number overflow hidden is never removed. Since there are no open and closed classes, I used onAnimationEnd to check if my height state was greater than zero, and then set the state of the height to auto. Seems to work for my use-case.

`onAnimationEnd = () => {
    const dHeight = this.state.dropdownHeight;
    if (

[2018-09-12 14:47] WebDeg-Brian opened #60 "Animation doesn't work on absolute positioned elements"
React-animate-height doesn't seem to work on absolute positioned element. I'm not sure whether it's an issue or an expected behavior.
This is quite self-explanatory so I don't think people would need a code example.

[2018-09-12 15:03] Stanko commented on #60
Hello @WebDeg-Brian,
Unfortunately absolute positioned elements are "outside of the flow", and they are not expanding parent which is used for measuring. What you should do is to apply `position: absolute` on animate height directly instead of content.

Here is working example:
https://codesandbox.io/s/l41z840r17

Cheers!

[2018-09-12 15:03] #60 closed

[2018-09-12 15:06] WebDeg-Brian commented on #60
Thanks for looking into this! I'll definitely apply this to my dropdown component!

[2018-09-25 20:19] pryahin opened #61 "onAnimationEnd and children"
Hello, I found a strange behavior on the onAnimationEnd event.
If an element has a child that has an animation, the onAnimationEnd event will be triggered after the animation of the child has completed.

I think that onAnimationEnd should only work for AnimateHeight element, and should not be triggered on children's animations.

[2018-09-26 07:08] Stanko commented on #61
Hello @pryahin,
I can't replicate what you are describing, check the quick example I made:
https://codesandbox.io/s/241mpxk9x0

Please try to recreate the issue on https://codesandbox.io so I can investigate what is happening.

Cheers!

[2018-09-26 15:33] pryahin commented on #61
I meant that if some element has css animation while he is a child AnimateHeight, then after the animation the element will work onAnimationHeight parent

Try adding this code to the style.css
[code]

[2018-09-26 15:58] Stanko commented on #61
Woah! 😄
Great catch, I think I know what it is. Let me investigate and I'll get back to you asap.

[2018-09-26 16:13] Stanko commented on #61
@pryahin bug fixed in version 2.0.5 🎉

I just omitted `onAnimationStart` and `onAnimationEnd` from being passed to the element directly.
https://github.com/Stanko/react-animate-height/blob/b491426085705f7f6766c41995561e0ed08ecbad/source/AnimateHeight.js#L18-L30

Thing is that callback names were identical to the native DOM handlers, and they were attached here:

https://github.com/Stanko/react-ani

[2018-09-26 16:13] #61 closed

[2018-10-03 14:11] berglind opened #62 "optionalDependency is causing conflict"
The optional dependency on `types/react` is conflicting with my types in my project. It should rather be a devDependency.

There is a workaround by doing `yarn install --ignore-optional` but that's not scalable since all devs on the same project need to do that.

[2018-10-03 14:31] Stanko commented on #62
Fixed in [v2.0.6](https://www.npmjs.com/package/react-animate-height/v/2.0.6)

[2018-10-03 14:31] #62 closed

[2018-11-12 03:47] fzembow opened #63 "Pass target height to start and end callbacks"
In a project I'm working on, I'm doing a whole bunch of absolutely-positioned elements, that themselves have height animations that can sometimes go to height: `auto`.

I found it a limitation that although internally this component knows the target height, its parents aren't aware of this. With the addition of the target height as argument passed to the `onAnimationStart` and `onAnimationEnd` fun

[2018-11-12 18:12] Stanko commented on #63
Published as [2.0.7](https://www.npmjs.com/package/react-animate-height/v/2.0.7) 🎉

Thank you once again!

[2018-11-12 18:12] #63 closed

[2019-01-16 05:18] sunglux opened #65 "Low FPS on Firefox"
On Firefox 64.0 on Ubuntu 18.04, animation for growing a height has significantly lower fps than in Chrome.

**Code example**
At this time I do not have the resources to construct a working reproduction demo

**Expected behavior**
FPS is not low

**Possible Solution**
Not sure.

**Steps to Reproduce (for bugs)**
Not a bug

**Screenshots**
**Chrome**
![2019-01-16_16 07 39](https://user-images.githu

[2019-01-16 12:15] Stanko commented on #65
Hello @sunglux,
It is true that library is calling `setState` multiple times, but it is three the most. That shouldn't be issue. Only non-performant thing library does, is that it is changing and transitioning `height` css property (instead of `scale`). Unfortunately this is the only way to do it.

I've just tried Firefox on mac, and it works smoothly. So this might be the issue related to ubuntu/

[2019-01-16 23:46] sunglux commented on #65
Thanks for your clarification despite not having the reproduction of issue. Closing

[2019-01-16 23:46] #65 closed

[2019-02-20 16:54] mundosk8 opened #66 "Update react and react-dom peer dependencies to version 16"
The react and react-dom peer dependencies still point to react 15.

**Possible Solution**

Update versions on package.json

**Your Environment**
 - Version used: 2.0.7
 - OS: MacOs
 - Browser chrome
 - Version latest

[2019-02-20 17:05] Stanko commented on #66
Hello,
I used `>=15.6.2`, I thought it is covering v16 as well. Is it not the case?

[2019-02-22 01:32] naomimachado opened #67 "Not compatible with React-table?"
Tried to add height animation to a subcomponent in [react-table](https://github.com/tannerlinsley/react-table). Doesn't seem to be working. Any ideas why?
Thanks!

[2019-02-22 08:18] Stanko commented on #67
Hello,
I don't know how `react-table` works, but if you are trying to animate a `div` I don't see why it shouldn't work. However `react-animate-height` doesn't support animating `tr` elements, as it needs to add more html elements which break `table` structure.

You ignored the issue template and gave me no info on the issue or how to replicate it. So I can't help you until you create an example o

[2019-02-22 08:22] Stanko commented on #66
I just tried to install `react-animate-height` on a project using `react` and `react-dom` `v16.8.2`. It issued no errors or warnings, so this works as expected.

Library does support v15 and v16 so this is expected behaviour.

Cheers!

[2019-02-22 08:22] #66 closed

[2019-02-22 16:30] naomimachado commented on #67
I am trying to animate tr elements. I think that's why it isn't working. Thanks anyway!

[2019-02-22 16:30] #67 closed

[2019-03-15 11:52] remijean opened #68 "Missing newHeight in typscript file"
My code :

<AnimateHeight
    duration={500}
    height={childrenHeight}
    onAnimationStart={newHeight => handleAnimationEnd(newHeight)}

Typescript return this error :

[code]

I believe that the declaration of newHeight is missing in the onAnimationEnd and onAnimationStart functions :

[code]

to :

[code]

[2019-03-15 12:24] Stanko commented on #68
Hello @remijean,
Can you please check all of the type definitions and open a PR? So we can be sure no issues pop up in the future.
Thank you!

[2019-03-15 17:16] remijean commented on #68
Hello @Stanko, I just submitted the pull request ;) .

[2019-03-15 17:59] Stanko commented on #68
Thank you very much! :)

I’m not near the laptop atm, but I will merge and publish it, first thing tomorrow morning.

[2019-03-16 08:10] Stanko commented on #68
Published with `2.0.8` 🎉

I made two small changes

Changed `children: ReactNode; ` to `children: ReactNode | ReactNode[];`
as it can receive multiple children elements.

And changed `easing?: "ease" | "linear" | "ease-in" | "ease-out" | "ease-in-out";` to
` easing?: "ease" | "linear" | "ease-in" | "ease-out" | "ease-in-out" | string;`
to support other [timing functions](https://developer.mozilla.

[2019-03-18 09:02] remijean commented on #68
Thanks you Stanko ! 👍

[2019-04-23 05:26] decimoseptimo opened #70 "Animate Margin-top"
The current API exposes a 'height' prop that gets you a "reveal" effect. What about a 'margin' prop for a "slide" effect.

e.g. Animating from margin-top: -auto -> margin-top: 0. `auto` could be exposed as a variable storing the container's height.

[2019-04-23 06:48] Stanko commented on #70
Hello @decimoseptimo,
Unfortunately that is out of the scope of this library.

But is sounds you are trying to achieve something like this:
https://codepen.io/anon/pen/gydMWM

Cheers!

[2019-04-23 06:48] #70 closed

[2019-04-24 00:33] decimoseptimo commented on #70
Not really. It doesn't adapt to variable height. It doesn't push content down. I think when you're already calculating height you're half way there.

[2019-05-09 00:42] lax4mike commented on #26
@Stanko Thanks for the package, I use it a lot!

But for width, your example doesn't work with `width: auto`, or I missing something?

https://codesandbox.io/s/mo958202xj

[2019-05-16 14:10] nuno-andrade-ui opened #71 "Bug: Aria-hidden isn't updating, stays always with false"
Aria-hidden attribute isn't updating.

Hidden Content:
<img width="658" alt="Screenshot 2019-05-16 at 15 06 55" src="https://user-images.githubusercontent.com/6398378/57860299-8d698200-77ec-11e9-94aa-bb1a73f5c17e.png">

Showing Content:
<img width="657" alt="Screenshot 2019-05-16 at 15 07 02" src="https://user-images.githubusercontent.com/6398378/57860300-8d698200-77ec-11e9-9d64-f63f243dca61.png">

[2019-05-16 14:15] Stanko commented on #71
Hello @nuno-andrade-ui,

Thank you for the detailed description, but I've just tried the demo https://muffinman.io/react-animate-height/ and I can't replicate it:

<img width="1263" alt="Screenshot 2019-05-16 16 12 14" src="https://user-images.githubusercontent.com/776788/57860637-8004c580-77f5-11e9-9a6d-0d3393798bfc.png">

Are you maybe using old version of the library?

Cheers!

[2019-05-16 14:25] Stanko commented on #71
I was just able to replicate it, but I don't think it is a library issue.

`height` prop type is a number. If you pass zero as a string `"0"` if will fail to set aria hidden to `true`, you need to use a number.

[code]

https://github.com/Stanko/react-animate-height/blob/master/source/AnimateHeight.js#L336

Hope that helps, cheers!

[2019-05-16 14:28] nuno-andrade-ui commented on #71
Heu @Stanko thank you for your help, it was really that. I was passing 0 as a string, now it works perfectly, I will add a prototype check for that, for not happening again :D

I will close now that, as this isn't really a library issue.

One more time thank you for your help, and sorry about this! 👍

[2019-05-16 14:28] #71 closed

[2019-05-16 14:32] Stanko commented on #71
No worries, I need to tighten prop type check, as `height` accepts string as well, for percentage values (ie. `"30%"` or `"90%"`). At least to drop a warning.

[2019-06-18 07:44] mjenny opened #75 "Module not found: Error: Can't resolve './AnimateHeight'"
**Code example**
[code]

**Expected behavior**
Webpack should find resources

**Possible Solution**
Revert to latest working stable version.

**Steps to Reproduce (for bugs)**
1. Import AnimateHeight
2. Build with webpack

**Screenshots**

**Your Environment**
 - Version used: NodeJS 10.15.3
 - OS: RedHat OpenPaaS OpenJDK Container

**Additional context**
Several patches have been released during

[2019-06-18 07:51] Stanko commented on #75
Sorry about that, I will resolve it in the next 30 minutes. Meanwhile you can use version 2.0.9

[2019-06-18 08:00] mjenny commented on #75
Thanks!

[2019-06-18 08:05] Stanko commented on #75
@mjenny Can you please try the latest version (2.0.14) and confirm it is working, thank you!

[2019-06-18 08:26] mjenny commented on #75
@Stanko It's working again, thank you!

[2019-06-18 08:26] #75 closed

[2019-09-03 08:30] David-Way opened #80 "[Question] Is proportional animation duration possible"
I'm animating in dynamic content and was wondering if there is a way to have the duration of the animation be proportional to the size of the content being animated in. For example the larger the change in size of the element, the longer the animation takes.

Maybe having access to something like the `newHeight` argument returned by onAnimationStart, but before the animation begins if possible.

T

[2019-09-03 09:01] Stanko commented on #80
Hello @David-Way,

That is an interesting usecase. But unfortunately I don't have an idea how to implement it and still keep the same simple API. Because new height is calculated in `componentDidUpdate` and having a callback there wouldn't help much as animation is already started.

I'm open to implementation suggestions though.

Personally I would create a simple wrapper, something like this:

[c

[2019-09-08 22:35] justingrant commented on #56
@oyeanuj @cbranch101 - did you find a solution to this use-case?  I'm also looking to do this.

[2019-09-30 16:06] kud opened #81 "[Feature Request] Disable it when auto is lower than specific height"
I've got this:

[code]

but auto here is lower than 80px.

[2019-09-30 21:01] Stanko commented on #81
Hello @kud,
I don't understand, it behaves as expected:
https://codesandbox.io/s/react-animate-height-basic-example-x8rkt

[2019-10-07 21:11] atombender opened #82 ""Can't perform a React state update on an unmounted component""
This library currently causes React warnings to be emitted to the console:

[code]

This happens because the library starts asynchronous updates that do not guard themselves against unmounting; specifically, [here](https://github.com/Stanko/react-animate-height/blob/265a0234350dcb898dc3408edbd6e77773b62fba/source/AnimateHeight.js#L208):

[code]

The component needs to track whether it's still moun

[2019-10-08 08:15] Stanko commented on #82
Fixed with version 2.0.16, here's the commit:
https://github.com/Stanko/react-animate-height/commit/1d2324a071966677155e6b627c698b6583454d5e

And good job catching this, it never happened to me.

[2019-10-08 08:15] #82 closed

[2019-10-10 15:51] mattcrowder opened #84 "Feature request(ish) could you make a 0.x maint branch?"
Hello! I am trying to upgrade my current team to the latest version of React, and unfortunately we have a rule where no `console.warn`s can happen while running test cases.

And v0.x uses `componentWillReceiveProps`, so I would like to make a PR to v0.x to add `UNSAFE` to `componentWillReceiveProps`.

Could you create a 0.x maint branch so I could create a PR to that branch, and then you could pub

[2019-10-10 16:33] mattcrowder commented on #84
So if you look at https://github.com/reduxjs/react-redux/branches, they have separate branches for maintenance just in case they need to update v5 or v4 for security updates or anything really.

If you look at v5.x, they actually released a new version of v5 and we were able to download it. The problem is, we're not ready to download v2 right now.

[2019-10-10 16:34] mattcrowder commented on #84
yeah I am asking:
Do you want me to create a branch from `a8361ff` and update it to use `UNSAFE_componentWillReceiveProps`
😄
And then you switch to that branch and you publish a new version off of it to be 0.9.14 or something,(just a patch)

[2019-10-10 17:46] Stanko commented on #84
* the last `0.x` version is `0.10.10`
* the last `0.9.x` version is `0.9.13`

Both are compatible with React 15, and if I rename `componentWillReceiveProps` to `UNSAFE_componentWillReceiveProps` to avoid warnings, I would break compatibility with React 15.

I still don't get why you can't use version 2, or just create your own fork?

[2019-10-11 08:34] #81 closed

[2019-10-11 08:34] #80 closed

[2019-10-11 08:45] kud commented on #81
Hello @Stanko .

I'm sorry I was unclear and think more and more that it's not the responsability of the lib itself to do that but. I wanted something like "toggle" button could be disable when static height value is higher than "auto", in order to disable AnimateHeight.

[2019-10-22 14:42] mattcrowder commented on #84
@Stanko Thanks for your prompt reply and help, we are just going to update to version 2!

[2019-10-22 14:42] #84 closed

[2019-11-05 10:42] ling1726 opened #86 "Add element id support for a11y"
This is a nice to have in order to support a11y aria attributes such as:

* https://www.w3.org/TR/wai-aria-1.1/#aria-controls
* https://www.w3.org/TR/wai-aria-1.1/#aria-describedby

PR made for this feature #85

[2019-11-05 11:46] Stanko commented on #86
Hello @ling1726,
I’m on vacation, on my phone, but I’m pretty sure this is already supported.

https://github.com/Stanko/react-animate-height/blob/master/source/AnimateHeight.js#L352

And it is already in the documentation, check the note beneath the props.

Let me know if that works.

Cheers!

[2019-11-05 12:52] ling1726 commented on #86
Hi @Stanko .

The the documentation mentions that it's possible to pass a className to the component but there is no mention of the **id** attribute.

Likewise in the source code of the component I can't see where the **id** attribute is assigned to the first div

[2019-11-05 13:01] Stanko commented on #86
Like I said, there is a note at the bottom of the readme:

Basically, it will bypass *any* prop that is not used by the library itself.

Highlighted the line of code Is responsible for it.

Cheers!

[2019-11-05 13:07] ling1726 commented on #86
Hi,

Just tested that, great!

However in this case it doesn't seem to play too well with TS, would I be able to just add the type declaration to the index.d.ts file then ? I've modified the PR accordingly

[2019-11-05 13:11] Stanko commented on #86
Cool, that makes sense. I wonder if there is more generic way to handle types for these additional props. Any ideas?

[2019-11-05 13:22] ling1726 commented on #86
I've modified the PR to use types instead and added the React.HTMLAttributes<HTMLDivElement>. That should do the trick

[2019-11-05 13:31] Stanko commented on #86
Sweet, thank you for putting the effort! I’ll test and merge it as soon as I can.

[2019-11-08 00:10] lakesare commented on #19
@Stanko, what he is describing is not an accordion, it's the <tr/> or <tbody/> tag heights animated, for which we'd need to have control of the tag `<AnimateHeight/>` wraps our code in.
I stumbled upon this issue now too.

[2019-11-08 02:06] Stanko commented on #19
You can't animate tables easily due to their's specific HTML structure. And `AnimateHeight` has it's own specific structure which doesn't work with tables. But you can build accordion that looks like a table.

[code]

And you can use it like this (`Row` and `Cell` are simple components you need to create):

[code]

[2019-11-08 02:15] lakesare commented on #19
@Stanko, I understand we could get rid of the table structure, but it has its own benefits (automatic column width scaling, reuse of existing CSS).
If we had a `tag="tbody"` prop for `<AnimateHeight/>`, and if we could get rid of the second inner `<div>` for certain cases, - then we'd be able to animate tables too.

[2019-11-08 02:30] Stanko commented on #19
Unfortunately, the inner div is essential for the functionality.

[2019-11-09 14:56] Stanko commented on #86
Merged and released in 2.0.17 🎉
Thank you!

[2019-11-09 14:56] #86 closed

[2019-11-12 11:21] user753 opened #87 "Prevent jumping when inner content unmount"
https://codesandbox.io/s/react-animate-height-basic-example-og48h

I would like if AnimateHeight preserve previous height and animate it even if inner content doesn't exists anymore.

[2019-11-12 11:25] Stanko commented on #87
It is easily doable by using `onAnimationEnd` callback:
https://codesandbox.io/s/react-animate-height-basic-example-v1ml1

This is something I think shouldn't be handled by the library itself, but by the developer.

Cheers!

[2019-11-12 11:25] #87 closed

[2019-11-19 12:45] bjszd commented on #55
I was thinking if it would also be possible for the type definition to help warn the user.

I think you can declare this using Exclude:
https://www.typescriptlang.org/docs/handbook/utility-types.html#excludetu

So here:
https://github.com/Stanko/react-animate-height/blob/562f742aa1dfa08de64914b5c5464a4677b8f2ae/source/index.d.ts#L29

Would be something like
[code]

[2019-11-19 12:52] Stanko commented on #55
That is a cool way to do it, I'll look into it. Thank you!

[2019-12-23 15:01] remijean opened #88 "Typescript errror: Type '(props: { newHeight: number; }) => void' is not assignable to type '(event: AnimationEvent<HTMLDivElement>) => void"
**Code example**
[code]

**Expected behavior**
Typescript error `Type '(props: { newHeight: number; }) => void' is not assignable to type '(event: AnimationEvent<HTMLDivElement>) => void`:

![Capture d’écran de 2019-12-23 15-55-52](https://user-images.githubusercontent.com/4329231/71364567-eaa48d80-259c-11ea-90b1-14995847b0b7.png)

**Possible Solution**

Remove `& HTMLAttributes<HTMLDivElement>` ?

[2019-12-23 17:37] Stanko commented on #88
Hey @remijean,
I think the problem here are native animation callbacks ([onanimationstart](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onanimationstart) for example).

`HTMLAttributes<HTMLDivElement>` have to be there, so users can easily add other attributes (`aria-*` for example).

I think changing the order should fix it
[code]

I'll publish a new version soon.

[2019-12-23 17:41] Stanko commented on #88
Published in 2.0.18, can you please try it?

[2020-01-16 15:58] remijean commented on #88
@Stanko always the same error :cry:

![Capture d’écran de 2020-01-16 16-57-11](https://user-images.githubusercontent.com/4329231/72540548-47842280-3881-11ea-81f1-2071344646b6.png)

[2020-01-16 16:03] Stanko commented on #88
Oh, I think I know what it is. It seems it is clashing with native attributes:
https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onanimationstart
https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onanimationend

I'll try to fix it this weekend.

I could rename callback props, but I would like to avoid it as it makes a breaking change.

[2020-01-17 10:52] Stanko commented on #88
I just tested it with version 2.0.18 and react create app (with typescript), and everything works as expected. This is the exact code I'm using:

[code]

Please make sure you updated to 2.0.18

[2020-01-17 10:52] remijean commented on #88
@Stanko Yes that's right, you can try to use Omit /Pick / Exclude to overwrite the two attributes:
https://stackoverflow.com/a/56916686
https://stackoverflow.com/a/48216010

[2020-01-17 10:53] remijean commented on #88
@Stanko I'll check again :+1:

[2020-01-17 10:56] Stanko commented on #88
Thank you! I think the order change I did:
[code]
should do the trick. As far as I understand it AnimateHeightProps' `onAnimationStart/End` should overwrite the HTMLAttributes ones.

[2020-01-17 11:12] remijean commented on #88
@Stanko results of my new test:

This code works:

[code]

This code doesn't work:

[code]

Screenshot:

![Capture d’écran de 2020-01-17 12-06-17](https://user-images.githubusercontent.com/4329231/72608131-5373f100-3922-11ea-815e-689148f679e6.png)

My packages.json:

![Capture d’écran de 2020-01-17 12-05-37](https://user-images.githubusercontent.com/4329231/72608168-6d153880-3922-11ea-8f15-7138344

[2020-01-17 11:36] Stanko commented on #88
Dang! My bad again 🙈 `Omit` it is! I'll try to get the new version out asap.

[2020-01-17 11:53] Stanko commented on #88
https://github.com/Stanko/react-animate-height/commit/b6ed68677f91ea33ba74ec7e964bd99337464a04#diff-ad4b8db0d72d668877ca1a852f2d2079

There it goes, please try version 2.0.19

And thank you for bearing with me :)

[2020-01-17 11:55] Stanko commented on #88
It is not my day today, I added `onAnimationStart` twice :/ and forgot `onAnimationEnd` 2.0.20 coming up

[2020-01-17 12:03] Stanko commented on #88
Published 2.0.20 🎉
I made this way more complicated than it should be :)

[2020-01-17 12:18] remijean commented on #88
Ahah, thank you it works perfectly! :fire:

[2020-01-17 12:18] #88 closed

[2020-04-17 20:47] itayganor opened #89 "Animation doesn't work inside bounded flexboxes"
When `<AnimateHeight/>` is inside a bounded flexbox (a flexbox that has a limit in its main flex axis, i.e. a `div` with `display: flex; flex-direction: column; height: 100px;`), the variable `height` value during the animation doesn't count.
In this case, `<AnimateHeight/>` should consider itself as a flexbox child, and have `flex-shrink: 0` for the `height` property to work as expected.

#### Co

[2020-04-17 21:01] Stanko commented on #89
Nice catch, I'll see what I can do. Adding `flex-shrink` seems a bit hacky though.

[2020-04-17 21:04] itayganor commented on #89
Why hacky? it's exactly what's happening; the animated div gets shrunk because flexbox takes other calculations into account before `height` values (or `width` when `flex-direction: row;`).
`flex-shrink: 0` is like saying *"Ay papa, let me decide my own size!"*

[2020-04-17 21:05] Stanko commented on #89
Sorry, I wasn't clear. It feels hacky to add styles that fix very specific issue.

[2020-04-18 10:01] Stanko commented on #13
This never re-surfaced and library has over half a million downloads a month. I'm pretty sure it is safe to close.

[2020-04-18 10:01] #13 closed

[2020-04-18 10:09] Stanko commented on #89
I added "Gotchas" section to the readme to explain this scenario:
https://github.com/Stanko/react-animate-height#bounded-flexboxes

[2020-04-18 10:09] #89 closed

[2020-07-09 10:46] msaspence commented on #56
@cbranch101 @oyeanuj @justingrant This is the solution I came up with using `react-resize-observer` if it is useful to you or anyone else who finds this issue

https://gist.github.com/msaspence/8031944aafc25e051792b0161cdd0c22

[2020-07-14 23:20] MichaelDeBoey opened #91 "Add engines to package.json"

[2020-07-15 06:44] Stanko commented on #91
Hey @MichaelDeBoey,
I'm open to add them, but I'm not sure what should I add as I never used them. Can you give me a little help?

Cheers!

[2020-07-15 07:47] MichaelDeBoey commented on #91
@Stanko It's mostly the minimum `node` version you're testing against.

https://github.com/jaydenseric/apollo-upload-client/blob/219002c88a34aade4c0fd1f89865f560ac730804/package.json#L32-L34

https://github.com/facebook/react/blob/147179ae82039f38fa1a9a72402f578af8fb3ea3/packages/react/package.json#L28-L30

[2020-07-15 07:53] Stanko commented on #91
Cool, I will test and one. Thank you!

[2020-07-15 08:46] Stanko commented on #91
Published in 2.0.22

https://github.com/Stanko/react-animate-height/commit/7df0664f938d6a74fa0f911b712053291f984902

[2020-07-15 08:46] #91 closed

[2020-07-18 04:20] acal11 opened #93 "Support animating elements rendered using .map()"
It would be great if this package was able to be extended to work on elements rendered using .map(). `react-transition-group` has the `TransitionGroup` component to make this possible, however to make it work as I like using `react-animate-height` I need to keep all 'removed' elements in-state with a `visible` flag attached to it. This means that my state is storing unrequired data, making things

[2020-07-18 09:15] Stanko commented on #93
Hey @acal11,
Can you show me the example of what are you trying to achieve?

But I'll be honest, it sounds like something that is outside of the scope of this library. If I start tracking changes on children elements, that introduces a lot of complexity - on the top of my head, library would need to cache the fixed height and track window resize.

[2020-07-19 23:22] acal11 commented on #93
Hey @Stanko,

Basically the below - animating items as they're added or removed from an array. Without TransitionGroup, they won't out, just appear/disappear.

Like I said, I did make it work by adding `isVisible` to the item in the array and just flagging them instead of removing them, but that just makes the local state a bit messy imo. Understandable if it's too much for this library, just a th

[2020-07-20 08:09] Stanko commented on #93
Unfortunately, that is outside of the scope of `AnimateHeight`. You could write a `AnimatedList` but it gets pretty complicated as you need to track `props.children` changes and to clone elements to keep them in state while they are animated out.

But this example from `react-transition-group` seems to be very close to what you are trying to achieve:
http://reactcommunity.org/react-transition-grou

[2020-07-21 11:00] #93 closed

[2020-07-22 12:45] acal11 commented on #93
Just a quick update for anyone who may come across this in the future:

Making it work with `TransitionGroup` is actually straight forward. It just requires creating a wrapper around `AnimateHeight` which accepts an `in` prop (which is what `TransitionGroup` controls), and then using this to set `AnimateHeight`'s `height` prop accordingly.

[2020-07-22 15:50] oyeanuj opened #94 "Animation breaking behavior of inner elements"
Hi @Stanko, thank you for creating this wonderful library! I'm running into this issue where on adding this library, I'm noticing a couple of issues with its children:

1. TextArea `autoFocus` is not working anymore.
2. Width of the children is animating as well.

**Code example**
[code]

[code]

**Expected behavior**
I'd expect the height to animate vertically but it not affect the width or the a

[2020-07-23 07:58] Stanko commented on #94
Hello @oyeanuj,

Auto focus, I think that is the intended behaviour. It doesn't work as textarea is already rendered (but hidden with `display: none`) and auto focus is not triggered when the content is shown.

You can easily focus it using `onAnimationEnd` callback:

[code]

As for the width issue, I don't think that is the issue with the library. Library doesn't fiddle with `width` at all. As yo

[2020-07-29 23:45] tylertadej opened #96 "Accessibility improvements"
It seems like the `aria-hidden` attribute cannot be overwritten. It would be great if consumers could either overwrite `aria-hidden` to `undefined` or if this component would be updated with some accessibility improvements.

**Code example**

Example taken from: https://www.w3.org/WAI/GL/wiki/Using_the_WAI-ARIA_aria-expanded_state_to_mark_expandable_and_collapsible_regions

[code]

**Additional co

[2020-07-30 09:04] Stanko commented on #96
Hello @tylertadej,

This is a valid concern, and I'll try to break it down so I can easier wrap my had around it.

Library already allows passing `role`, `tabIndex` or any `aria-` props:
https://github.com/Stanko/react-animate-height/blob/master/source/AnimateHeight.js#L352

As for the `aria-hidden`, I think you are completely right, it can probably be removed completely (content already has `disp

[2020-07-30 18:11] tylertadej commented on #96
Thank you for the quick response!

Yes, and it seems that `aria-expanded` should be on the `button` element.

This resource has a good overview of the levels of configuration: https://www.accede-web.com/en/guidelines/rich-interface-components/show-hide-panels/

Bootstrap uses a similar configuration: https://getbootstrap.com/docs/4.0/components/collapse/

Perfect.

[2020-07-31 01:02] RavenAlly commented on #96
Agree with @tylertadej, `aria-expanded` should be applied to the `button` for maximum effectiveness rather than the `div`.
Agree with @Stanko 's approach to make `aria-controls` and other ARIA markup manual, the only mandatory item is `aria-expanded`.
Content hidden using `display:none` is perfect, it won't get passed through to assistive technology when it's collapsed (height 0). I like the appro

[2020-07-31 06:48] Stanko commented on #96
My bad for `aria-expandable` but I have to admit that I'm a little bit confused now.

This library wasn't intended to include a button. It is on the user to implement button in the way it fits the specific needs.

Isn't this what you are trying to achieve:
[code]

Here you can see the live example:
https://codesandbox.io/s/react-animate-height-basic-example-8ktqy?file=/src/index.js

[2020-07-31 14:52] tylertadej commented on #96
Apologies for the confusion. The sandbox is correct.

I think the improvements are:

- Consumers can configure `aria-hidden` as they choose.
- Library documentation includes a recommended accessibility implementation.

[2020-07-31 16:07] Stanko commented on #96
That makes sense 👍 I'll make changes and publish it over the weekend.

[2020-08-01 08:27] Stanko commented on #96
Published in `2.0.23` 🎉
https://github.com/Stanko/react-animate-height/commit/d6e10162805da90cc1a0fde3163f7309cb822600

Let me know if anything else should be added.

[2020-08-01 08:27] #96 closed

[2020-08-01 16:51] tylertadej commented on #96
Awesome. Thank you for the quick implementation!

[2020-09-05 18:33] adammo94 opened #101 "box-shadow is rendering strangely"
So If I don't set any margins to div I want to animate height of, it won't show box-shadow correctly. Shadow(s) will appear only after animation is over. When I set margins it renders shadows correctly throughout the animation.

Simple example: https://codesandbox.io/s/react-animate-height-basic-example-forked-9vhwd

[2020-09-06 12:30] Stanko commented on #101
Hello @adammo94
That is intended behavior, during the animation height needs to have `overflow: hidden` meaning that box shadow will be cut off. If you want to have shadows apply it to the`AnimateHeight` element directly.

Check the example here:
https://codesandbox.io/s/react-animate-height-basic-example-forked-3wl3g

Cheers!

[2020-09-06 12:30] #101 closed

[2020-09-06 20:03] adammo94 commented on #101
Yes, but then what If I want many elements inside one container and want those elements to have separate shadows?

[2020-09-06 20:20] Stanko commented on #101
Unfortunately, this approach relies on `overflow: hidden`. You can try the `max-height` transitions but that approach has other issues.

[2020-10-14 17:46] charleshimmer opened #102 "Question - animate on initial render"
this looks to be what I was looking for but is there a way to animate the height from 0 to auto when a component is initially rendered? I'm sure I could do this manually with some state that I trip after the component is rendered, but curious if there is a better way to handle this case.

[2020-10-14 18:19] Stanko commented on #102
You need to render two different states, like you said, you need to change state. I recommend using `requestAnimationFrame` in `componentDidMount`.

[2020-10-14 18:19] #102 closed

[2020-10-14 19:39] charleshimmer commented on #102
So for my use case I have a list of child elements to be rendered. Items can be removed / added to this list at any time. When an item is added, I need to animate it's height from 0 to auto. When an item is removed, go from `auto` to `0`.

What I am doing currently is something like this (using React Hooks):

Basically for every item I need to render I initialize it with a height value of 0, but t

[2020-10-14 19:53] Stanko commented on #102
To animate on add, I would create `ListItem` which takes care of itself. Removing items is a little bit more complicated. If you don't want to handle states yourself, you might want to check https://github.com/reactjs/react-transition-group as it is outside of the scope of this library.

Hope that helps!

[2020-10-14 19:57] charleshimmer commented on #102
Yeah I'm familiar with react transition groups, but it suffers from the limitation of not being able to handle the animate to height: auto. What I have above works, I just wasn't sure if there was a better way I wasn't overlooking.

Not sure how ListItem takes care of itself? Wouldn't it still need to start at height 0, then be flipped to height auto after initial mount? Removing was as simple as

[2020-10-15 09:09] #94 closed

[2020-10-15 09:11] Stanko commented on #102
It is a little bit hard to explain so I create an example:
https://codesandbox.io/s/react-animated-list-example-made-using-react-animate-height-je9q1?file=/src/App.js

It is not really a straight forward task, so there is hefty amount of state management we have to do on our own.

I made it using classes, as I'm still not super comfortable with hooks 🙈

Cheers!

P.S. I might add this to the docume

[2020-10-15 12:27] charleshimmer commented on #102
Thanks for taking the time to write up a demo. We are basically doing the same thing except you have your organized a bit better with a List component and ListItem components. And I'm using hook's equivalent to componentDidMount to flip the height from 0 to auto where you're using requestAnimationFrame.

I'll probably tweak mine a bit based on some of your example's ideas. Thanks again!

[2020-10-15 13:16] Stanko commented on #102
You are welcome, glad it worked! It is abstract and a little bit hard to explain so I thought example would help!
Cheers!

[2020-10-15 17:13] charleshimmer commented on #102
Yep def did. I ended up using requestAnimationFrame for mine as well and ended up making a ListItem like component which cleaned up the code a bit.

[2021-02-15 01:46] tqdo opened #103 "Allow scroll if the height is less than the maximum height"
This package is awesome. I am playing around with the demos here: https://muffinman.io/react-animate-height/ and wonder whether there is any way to scroll to see the full content if the chosen height is less than the actual height (when we set height to 'auto'). Thanks

[2021-02-15 13:03] Stanko commented on #103
Hey, thank you!

You can do something like this:
[code]

Add a scrolling div inside `AnimateHeight` and then limit it's height.

Check demo here:
https://codesandbox.io/s/quirky-turing-hn2vx?file=/src/App.js

Cheers!

[2021-02-15 13:03] #103 closed

[2021-02-25 19:10] tqdo opened #104 "Animate width?"
Hi, just wondering whether the library can be easily adapted to animate the width? Basically we am trying to apply to same animation but horizontally (to the width of a div instead of the height). Thanks.

[2021-02-27 07:18] Stanko commented on #104
Hello, I don't have plans on adding width animation to the library. I would consider a PR if doesn't bloat the codebase too much.
Cheers!

[2021-02-27 07:18] #104 closed

[2021-03-02 20:22] bmaclean opened #105 "Provided `style` prop values overridden internally"
The `AnimateHeight` internally overrides `overflow` styles provided explicitly to the component. As a result, `AnimateHeight` instances with a numeric or percentage height. I understand this is the default behaviour to prevent overflow when setting an explicit height, but it restricts developers from modifying this behaviour and having to resort to `!important` or other means to add rules with hig

[2021-03-03 09:39] Stanko commented on #105
Hello @bmaclean,
I've made it like that on purpose. But if you have a legit use case, let's think about solving it. I would love to see a real world example, it would be great if you can provide me with one.

I need to revisit how overflow attribute is set in percentage scenario, it may need some refactoring to allow the override. Maybe I can add a separate prop, something like `__dangerouslyOverr

[2021-07-30 15:27] kzahel opened #112 "Webpage is inaccurate about dependencies"
Your webpage says "Lightweight, no dependency React component for animating height using CSS transitions"

This isn't exactly true. You are using `classnames` as a dependency.

[2021-07-30 18:33] Stanko commented on #112
That's super olf leftover :) I'll remove it.

[2021-07-30 18:40] Stanko commented on #112
Fixed in [this commit](https://github.com/Stanko/react-animate-height/commit/839ca15903a8286602133ce2c11a5ec2eed50497#diff-b04b38d4e36f7a7171aeb211bf933eaf36d41d9866ebbc3639f673f84dc350aeR34).

[2021-07-30 18:40] #112 closed

[2021-11-17 23:47] eostrom commented on #105
I'm not sure this is the same issue, but we ran into a problem with `overflow` cutting off the edges of our `<ol>` counters during the transition:

![2021-11-17 at 5 43 PM](https://user-images.githubusercontent.com/8683/142300074-9d060ca0-d2c5-4d36-95bc-1c1b03b78b60.png)

[Code Sandbox.](https://codesandbox.io/s/hungry-goodall-wfmk1?file=/src/App.js)

There are workarounds, and we'll implement one

[2021-11-18 07:48] Stanko commented on #105
Hey @eostrom,
Unfortunately, I don't think there is a way to avoid that. The content is wrapped in a div, which then changes height using transitions. In order for it to reveal content it has to have overflow hidden. If it had overflow visible content would just show up. I would suggest adding padding, and maybe even negative margins to compensate for padding.

[2022-04-08 19:41] thiemeljiri opened #122 "Animate height when content changes"
Hi,

I'm struggling with the following. How to achieve animation of the height when content (height) changes? To be used e.g. with tabs.

I tried the following, but it doesn't work as expected. I also tried setting the height explicitly, getting it via ref of the content, that also didn't work well.

    <AnimateHeight
      duration={300}
      height={'auto'}

      <div className="content" key=

[2022-04-09 08:10] Stanko commented on #122
Hey @thiemeljiri,
Unfortunately `AnimateHeight` wasn't made with swapping children in mind. It adds a certain level of complexity and I want to keep the component lighter.

However, this wasn't the first time I was asked this, so I created a codepen to show how it can be done:
https://codepen.io/stanko/pen/eGwNZd?editors=0010

Hope that helps, cheers!

[2022-04-12 12:07] josephmarkus opened #123 "React 18 (in StrictMode): Uncaught TypeError: Cannot read properties of null (reading 'animating')"
`react-animate-height` blows up in React 18. The library is used for an accordion component that animates on state toggle.

**Code example**
https://codesandbox.io/s/lingering-wood-tjnu2k?file=/src/App.js

**Expected behavior**

Clicking 'Open' should expand the component that is wrapped with `<AnimateHeight />`. Instead, it blows up

**Possible Solution**

🤷‍♂️ 😅

**Steps to Reproduce (for bugs)*

[2022-04-12 12:27] Stanko commented on #123
Hello, thanks for letting me know. It seems it blows up when `StrictMode` is enabled. I'll look into it.
Cheers!

[2022-04-12 12:33] #123 closed

[2022-04-12 12:35] Stanko commented on #123
Fixed in 2.1.0 🎉

Example:
https://codesandbox.io/s/ecstatic-leaf-x652u4

[2022-04-12 12:41] #122 closed

[2022-04-14 17:42] walopee opened #124 "Provide a `disable` option to disable/reduce animation"
**Expected behavior**
It would be nice to have the option to conditionally disable the animation for users who have their OS settings set to reduced or no animations

**Your Environment**
 - Version used: 2.0.23
 - OS: Windows 10 (turn off "Show animation in Windows" setting)
 - Browser: Chrome

**Additional context**
This would help fulfill an accessibility best practice by allowing users the opt

[2022-04-14 17:57] Stanko commented on #124
Hey @walopee, that is a good point. I'll take a look this weekend.

For now you can add a simple workaround, by checking for `(prefers-reduced-motion)` using `matchMedia`:

Live demo:
https://codesandbox.io/s/sleepy-panna-2ohhf1?file=/src/App.js

Code:
[code]

[2022-04-15 09:41] Stanko commented on #124
Component now respects `prefers-reduced-motion` flag, published in 2.1.1:

https://github.com/Stanko/react-animate-height/commit/b7fd78d998f7c10c6786794a0a20df2b13e95aac#diff-af8ea84e12681096191e9bd85c5d016e492d25a9fd8baeedb117a0b6ee46f593=

Cheers!

[2022-04-15 09:41] #124 closed

[2022-04-17 14:21] leonzalion commented on #41
I'm 4 years late, but in case anybody is interested, I've created a Vue version that is pretty much a 1-to-1 port of React Animate Height since I couldn't find any existing alternatives which support Vue 3: https://github.com/leonzalion/vue-animate-height

Thanks @Stanko for creating this amazing package :)

[2022-04-19 07:07] ritabazak opened #125 "Version 2.1.1 - matchMedia is not defined"
After upgrading to 2.1.1, we are getting an error that matchMedia is not defined in AnimateHeight.js.
We are using react 16.14.0.

[2022-04-19 07:43] Stanko commented on #125
Hello,
Which browser or environment?

Btw AnimateHeight doesn't support super old browsers that do not support it:
https://caniuse.com/?search=matchMedia

[2022-04-19 08:36] johnhunter commented on #125
Also seeing this in jest tests

[code]

We have a check for `window.matchMedia` elsewhere in our code and this does not fail
[code]

[2022-04-19 08:40] #125 closed

[2022-04-19 08:42] Stanko commented on #125
I just pushed 2.1.2 with the explicit check if `matchMedia` exists. Can you please confirm it works because I can't reproduce this locally. Thanks!

[2022-04-19 08:42] johnhunter commented on #125
Will do, thanks.

[2022-04-19 08:54] johnhunter commented on #125
That looks to have fixed my issues with Jest tests. Thanks for the quick turnaround! 🎉

[2022-04-19 09:07] ritabazak commented on #125
Yes, we saw the issue in the tests, we are using:
[code]
Will try now the fix as well, thank you :)

[2022-05-06 12:13] thiemeljiri commented on #122
Hi @Stanko,
I'm a bit surprised you came up with a solution which is not using this component. Actually I was able to make it work in combination with `@rehooks/component-size`. I used that to calculate the height of an inner wrapped and feeding the calculated height to your `AnimateHeight` wrapper. Let's try that and if you find that useful, maybe suggest a solution like this in the documentation

[2022-05-08 09:27] Stanko commented on #122
Well, it is not a trivial task, as components needs to take care of it's previous children, save a copy, swap them in place... And I just feel it doesn't belong in `AnimateHeight`.

It is worth mentioning in the documentation though. If you can share your implementation I would like to see it, and do a short paragraph in docs based on it.

[2022-05-19 20:18] adrianxadamn opened #127 "Animation does not work on mobile with React v17"
Animation does not work on mobile with React v17

**Code example**
https://codesandbox.io/s/react-animate-height-basic-example-forked-4j23gl?file=/src/index.js:0-26

**Expected behavior**
On my Iphone 10, animation doesn't work compared to viewing on any browser on desktop

**Screenshots**

**Your Environment**
 - Version used:  "react-animate-height": "^2.1.2",
 - OS: iOS
 - Browser: Safari or Ch

[2022-05-20 07:26] Stanko commented on #127
Hey @adrianxadamn,
Any chance you could record what is happening as it works normally on my iphone 12 mini.
Cheers!

[2022-05-25 08:30] Hahlh opened #128 "Margin on content of accordion causes small jump at the end of animation"
Good day! Thanks for the awesome package.

Additional margin on the children of `<AnimateHeight>` seems to cause a noticable 'jump' at the end of the animation.

I created a video for you here as this should be the easiest and most effective way of showing the behavior:

https://user-images.githubusercontent.com/45669613/170217312-1885109e-ca61-4524-b7c6-ac9731f7eda4.mp4

Being able to keep using

[2022-05-25 08:53] Stanko commented on #128
Hey @Hahlh,
Thanks for the detailed description. Unfortunately, due to margins collapsing it is not possible to use margins in this scenario. But you can switch to padding and the issue won't happen. Hope that helps.
Cheers!

[2022-05-25 08:53] #128 closed, assigned to nobody

[2022-05-25 09:02] Hahlh commented on #128
Okay great! That should likely be mentioned in the readme.

Thank you for the fast answer @Stanko ! :slightly_smiling_face:

[2022-05-25 09:22] Stanko commented on #128
You are right, I'm going to add a paragraph in "Gotchas", thanks!

[2022-05-31 08:26] Stanko commented on #127
I released version 3 yesterday, it is rewritten to hooks, maybe you can try it, as I can't replicate the issue.
Cheers!

[2022-05-31 10:02] Stanko commented on #55
Better late than never 🙈
Fixed in https://github.com/Stanko/react-animate-height/commit/762058a6153f59f18a6a1e8b64135ec62b024993

[2022-05-31 10:02] #55 closed

[2022-05-31 10:03] Stanko commented on #105
I omitted `height` and `overflow` from `style` prop type definition and added a note in the readme.

https://github.com/Stanko/react-animate-height/commit/762058a6153f59f18a6a1e8b64135ec62b024993

Closing it.

[2022-05-31 12:02] Stanko commented on #54
Finally wrote some integration tests:
https://github.com/Stanko/react-animate-height/blob/v3/cypress/integration/animate-height.js

[2022-05-31 12:20] #54 closed

[2022-06-18 16:59] TrizBea24 opened #129 "React Animate Height Failed to compile with version 3"
With the node version v16.14.0, the React version "16.13.1" and the react-animate-height" version "^3.0.3", I get the next issue:
Failed to compile.

./node_modules/react-animate-height/dist/esm/index.js 17:32 Module parse failed: Unexpected token (17:32) You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.or

[2022-06-19 06:58] Stanko commented on #129
Hello there,
I think I know what is going on, and I've released version 3.0.4, so please try that.

And please try to provide even more data when opening an issue (which tools are you using, is it a client, or server build...), it makes it much easier to pinpoint bugs like this. Thank you!

Cheers!

EDIT: The problem was that `target` in my tsconfig was set to `esnext`, I swapped it for `es6`: htt

[2022-06-19 17:09] TrizBea24 commented on #129
Oh great! I just tried version 3.0.4 and It worked perfectly. Many thanks!

[2022-06-19 17:10] #129 closed, assigned to nobody

[2022-09-19 16:10] josuearrieta commented on #127
@adrianxadamn I can confirm I'm seeing the same behavior

[2022-09-19 16:47] Stanko commented on #127
If v3.0.4 is still not working for you, can you please provide me with the codesandbox that doesn't work including the device and ios versions. Because I can't replicate it.

Using [this codesanbox](https://codesandbox.io/s/react-animate-height-basic-example-forked-3crf9z?file=%2Fsrc%2Findex.js) with version 3.0.4 works for me, on my iPhone 12 mini.

Here is the same sandbox, on iPhone X (using br

[2022-09-20 14:49] josuearrieta commented on #127
Sure. Mine is an iPhone XR (15.5).
This is how it looks using that codesandbox:

https://user-images.githubusercontent.com/9735910/191290348-ada17fab-5fe7-490e-819f-df37de4e12bb.mp4

[2022-09-20 15:30] Stanko commented on #127
I honestly don't know why it doesn't work :/ I just tested it on browser stack, iphone XR, ios 15.4

So it might be related to ios 15.5, but I don't how to pinpoint it. Any help is welcome!

iphone XR, ios 15.4:

https://user-images.githubusercontent.com/776788/191300302-92d22a83-a396-4ce2-8392-b3af26a86eef.mov

[2022-09-20 16:50] josuearrieta commented on #127
So after digging a bit into my settings, I found out this:

![ReduceMotionSetting](https://user-images.githubusercontent.com/9735910/191317588-4741d43a-a1e1-40d7-804e-bc40075927ee.png)

There is this `Reduce Motion` option and I had it turned on. Once I turned it off, the animation was working as expected!
So this is not specific to an iOS version, or a device; but that particular setting :).
Sorr

[2022-09-21 09:05] Stanko commented on #127
No worries, it happens, got me a couple of times as well 🙂

@adrianxadamn is this maybe the problem in your case as well? Have you tried version 3?

[2022-09-25 07:12] Stanko commented on #127
Closing this one as it seems it can't be reproduced.

Readme already has [a section about reduced motion](https://github.com/Stanko/react-animate-height#reduced-motion), so I don't think there should be any updates.

[2022-09-25 07:12] #127 closed, assigned to nobody

[2022-10-04 10:23] itayganor commented on #20
I just made a simple `LazyAnimateHeight` implementation for future readers:

[code]

[2022-10-08 08:51] FatemiParsHost opened #130 "Doesn't work on Chrome Version 106.0.5249.103 (Official Build) (64-bit)"
Hi dear developer
I was used this package on my project and doesn't work on chrome in desktop  PC and i test on ipad its fixed pls fix this problems on windows OS thanks ♥

[2022-10-08 10:44] Stanko commented on #130
Hi @FatemiParsHost,
I've just tried it on both windows (through Browserstacl) and on mac, and everything seems to be working fine:

| Windows, Chrome 106.0.5249.21 | MacOS (arm) Chrome 106.0.5249.103 |
|-|-|
| <video src="https://user-images.githubusercontent.com/776788/194703376-42f06853-0d99-45b4-addc-bdf61090fe9f.mp4" /> | <video src="https://user-images.githubusercontent.com/776788/194703518-f

[2022-10-09 05:21] FatemiParsHost commented on #130
Hi Dear @Stanko
I check it again and check reduced motion but doesn't work
but let me check on other OS and tell you

Thanks Mate

[2022-11-09 19:19] U-4-E-A opened #131 "Animation does not seem to work in my app or in the official sandbox"
Title says it all, really. I recently moved from v2 to v3 to find the animation does not work in my app. It appears that the animation also does not work on the official sandbox: -

https://codesandbox.io/s/react-animate-height-v3-basic-example-1iggpe

It is acting as though there is a `duration` of `0`. I have tried it in Chrome, FF and Brave... none work. Am I missing something here? Thanks.

[2022-11-09 20:06] Stanko commented on #131
Hello @U-4-E-A,

I've just tried the sandbox you linked and it works fine in both firefox and chrome:

|Firefox|Chrome|
|-|-|
|<video src="https://user-images.githubusercontent.com/776788/200930035-60bd3a18-2276-4c76-b5e8-0e03f6b191a0.mov" />|<video src="https://user-images.githubusercontent.com/776788/200930073-7cf32333-2f8a-4ff5-b365-f9f27d5538db.mov" />|

Do you maybe have [reduced motion](http

[2022-11-15 09:58] xec opened #133 "AnimateHeightProps no longer exported in 3.0 (typescript)"
**Code example**
[code]

Works fine in 2.* but in 3.0 results in error message:

[code]

**Expected behavior**
Can import the props definition as in 2.*

**Possible Solution**
The AnimateHeightProps is defined in the published typescript definition file, but is missing the `export` keyword
Please export the `AnimateHeightProps` typescript interface :)

**Your Environment**
 - Version used: 3.0.4

[2022-11-15 10:28] #133 closed, assigned to nobody

[2022-11-15 10:32] Stanko commented on #133
Thanks, fixed in v3.0.5

[2022-11-15 10:35] xec commented on #133
Wow, that was quick! Thank you! :)

[2022-11-30 12:32] U-4-E-A commented on #131
You're correct. Oddly, v2 worked out with animations turned off. Thanks.

[2022-11-30 12:32] #131 closed, assigned to nobody